{% extends 'base.html.twig' %}

{% block title %}Accueil - Forum{% endblock %}

{% block body %}

<div class="container bg-amber-100">
    <div class="center">
        <h1>Hello</h1>
    </div>
</div>
{% endblock %}
